@model EnterpriseSchool.Web.Areas.Parent.ViewModel.WardViewModel
@{
    ViewBag.Title = "VerifyWard";
}

@if (TempData["Message"] != null)
{
    @Html.Partial("_Message", (EnterpriseSchool.Model.Model.Message)TempData["Message"])
}

<div class="box">
    <div class="box-header">
        <i class="icon-book"></i>
        <h5>Add student to class</h5>
    </div>
    <div class="box-content">
        @using (Html.BeginForm("VerifyWard", "Ward", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <p>Enter the verification PIN sent to your Email adress or phone number.</p>
            <div class="form-inline">
                <div class="row">

                    <div class="form-group span5">
                        @Html.Label("Verification PIN", new { @class = "control-label span4" })
                        <div class="input-prepend span8">
                            <span class="add-on"><i class="icon-key"></i></span>
                            @Html.EditorFor(model => model.ParentVerification.Detail, new { @class = "form-control span4" })
                        </div>
                        @Html.ValidationMessageFor(model => model.ParentVerification.Detail)
                    </div>
                    
                </div>
                <br />
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">
                        <i class="icon-ok"></i>
                        Verify
                    </button>
                </div>


            </div>


        }
    </div>

</div>


